<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive Header</title>
  <link rel="stylesheet" href="/components/headerup/headerup.css">
</head>
<body>

  <header class="header">
    <div class="header-inside">
      <div class="logo-container">
        <img src="/assets/logo.png" alt="Logo">
        <div class="text-blocks">
          <div class="titre1">FESTIVAL INTERNATIONAL DU CINEMA ARABE</div>
          <div class="titre2">مهرجان السينما العربية الدولي</div>
        </div>
      </div>

      <div class="burger-menu" id="burgerMenu">
        <div class="burger-icon">&#9776;</div>
      </div>
  
      <div class="near-logo">
          <div class="titre3">مهرجان السنما العربية الدولي الدورة 35</div>
          <div class="titre4">30TH FESTIVAL INTERNATIONAL DE CINEMA ARABE</div>
      </div>
  
      <div class="buttons-container">
        <button>Soumettez votre film</button>
        <button>Soumettez votre projet</button>
      </div>
  
      <div class="association-container">
        <div class="titre5">Association De Culture Sans Frantière</div>
        <div class="titre6">مهرجان السينما العربية الدولي</div>
      </div>
    </div>
    <hr class="horizontal-line">
  </header>
</body>
</html>
