<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Best Of</title>
  <link rel="stylesheet" href="/components/bestof/bestof.css">
</head>
<body>

  <!-- Title with Horizontal Lines in One Row -->
  <div class="title-container">
    <hr>
    <h1>BEST OF</h1>
    <hr>
  </div>

  <!-- Carousel Section -->
    <div class="movie-container">
      <!-- Slide 1 -->
      <div class="movie-item">
        <img src="/assets/images.jpg" alt="Event 1">
        <div class="movie-description">
          <hr>
          <div class="content">
            <p>Movie TITLE</p>
            <span>Details</span>
          </div>
          <hr>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="movie-item">
        <img src="/assets/images2.jpg" alt="Event 2">
        <div class="movie-description">
            <hr>
            <div class="content">
              <p>Movie TITLE</p>
              <span>Details</span>
            </div>
            <hr>
          </div>
      </div>
    </div>
    <div class="gap"></div>
</body>
</html>
