<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="galerie.css">
  <title>Document</title>
</head>
<body>
  <div class="title-container">
    <hr>
    <h1>Headlines</h1>
    <hr>
  </div>

<div class="container">
    <div class="movie-box">
        <img src="../../assets/images.jpg" alt="Movie Image 1">
        <div class="overlay2">MOVIE</div>
    </div>
    <div class="movie-box">
        <img src="../../assets/images.jpg" alt="Movie Image 2">
        <div class="overlay2">MOVIE</div>
    </div>
    <div class="movie-box">
        <img src="../../assets/2.jpg" alt="Movie Image 3">
        <div class="overlay2">MOVIE</div>
    </div>
</div>
<div class="gap"></div>
<div class="container">
    <div class="movie-box">
        <img src="../../assets/images.jpg" alt="Movie Image 1">
        <div class="overlay2">MOVIE</div>
        
    </div>
    <div class="movie-box">
        <img src="../../assets/images.jpg" alt="Movie Image 2">
        <div class="overlay2">MOVIE</div>
    </div>
    <div class="movie-box">
        <img src="../../assets/images.jpg" alt="Movie Image 3">
        <div class="overlay2">MOVIE</div>
    </div>
</div>

</body>
</html>